trigger:
  - master

pr:
  - master

pool:
  vmImage: $(IMAGE_NAME)

strategy:
  maxParallel: 8
  matrix:
    linux-py3.7:
      IMAGE_NAME: ubuntu-latest
      PYTHON_VERSION: 3.7
    linux-py3.8:
      IMAGE_NAME: ubuntu-latest
      PYTHON_VERSION: 3.8
      CODECOV: True  # Only run on one build
    macos-py3.8:
      IMAGE_NAME: macOS-latest
      PYTHON_VERSION: 3.8
    windows-py3.8:
      IMAGE_NAME: windows-latest
      PYTHON_VERSION: 3.8

steps:
  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Enable conda (UNIX)
    condition: ne( variables['Agent.OS'], 'Windows_NT' )

  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Enable conda (Windows)
    condition: eq( variables['Agent.OS'], 'Windows_NT' )

  - powershell: |
      wget https://bintray.com/coin-or/download/download_file?file_path=Cbc-2.10.3-win32-msvc15.zip -O cbc.zip
      7z x cbc.zip -ocbc
    displayName: Download and set path for CBC (Windows)
    condition: eq( variables['Agent.OS'], 'Windows_NT' )

  - bash: sudo chown -R $USER $CONDA
    displayName: Take ownership of conda installation (macOS)
    condition: eq( variables['Agent.OS'], 'Darwin' )

  - bash: |
      conda config --set always_yes yes --set changeps1 no
      conda update -q conda
      conda info -a
    displayName: Configure and update conda

  - bash: |
      python utils/conda_create.py requirements.yml --python_version=$(PYTHON_VERSION) --channels conda-forge defaults --run
      source activate calliope
      conda install -y -c conda-forge coincbc
      pip install --no-cache-dir --verbose -e .
      py.test -n 2 --junitxml=junit/test-results.xml --cov=calliope --cov-report=term-missing --cov-report=xml -W ignore::FutureWarning
    displayName: Set up environment and run tests (UNIX)
    condition: ne( variables['Agent.OS'], 'Windows_NT' )

  # Must manually activate base environment else conda_create.py fails
  - script: |
      set PATH=cbc/bin;%PATH%
      call "%VSPATH%\VC\Auxiliary\Build\vcvarsall.bat" x86
      call activate base
      python utils/conda_create.py requirements.yml --python_version=$(PYTHON_VERSION) --channels conda-forge defaults --run
      call activate calliope
      pip install --no-cache-dir --verbose -e .
      py.test -n 2 --junitxml=junit/test-results.xml --cov=calliope --cov-report=term-missing --cov-report=xml -W ignore::FutureWarning
    displayName: Set up environment and run tests (Windows)
    condition: eq( variables['Agent.OS'], 'Windows_NT' )

  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testResultsFiles: '**/test-*.xml'
      testRunTitle: '$(Agent.JobName)'

  - task: PublishCodeCoverageResults@1
    condition: succeededOrFailed()
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'

  - bash: |
      source activate calliope
      codecov
    displayName: Send results to Codecov
    condition: eq( variables['CODECOV'], 'True' )
    env:
      CODECOV_TOKEN: $(CodecovToken)
