default_language_version:
  python: python3

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit # https://beta.ruff.rs/docs/usage/#github-action
    rev: v0.14.10
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      additional_dependencies:
        - tomli

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Check for debugger imports and py37+ breakpoint() calls
      - id: debug-statements
      - id: check-merge-conflict
      - id: check-illegal-windows-names
      - id: check-added-large-files
        args: [--enforce-all --maxkb=100000]
      - id: trailing-whitespace
        exclude: ".*.(svg|png|csv|lp)$"
      - id: end-of-file-fixer
        exclude: ".*.(svg|png|csv|lp)$"

ci:  # https://pre-commit.ci/
  autofix_prs: false
  autoupdate_schedule: quarterly
