
# yaml-language-server: $schema=https://json-schema.org/draft/2020-12/schema#

$schema: "https://json-schema.org/draft/2020-12/schema"
title: Model configuration schema
description: All configuration options when calling Calliope models.
type: object
additionalProperties: false
properties:
  config:
    type: object
    description: All configuration options used for a Calliope model
    additionalProperties: false
    properties:
      init:
        type: object
        description: All configuration options used when initialising a Calliope model

      build:
        type: object
        description: >
          All configuration options used when building a Calliope optimisation problem (`calliope.Model.build`).
          Additional configuration items will be passed onto math string parsing and can therefore be accessed in the `where` strings by `config.[item-name]`, where "[item-name]" is the name of your own configuration item.

      solve:
        type: object
        description: All configuration options used when solving a Calliope optimisation problem (`calliope.Model.solve`).

  parameters:
    type: [object, "null"]
    description: >-
      Calliope model arbitrary parameter definitions.
      See the model definition schema for more guidance on content.
    additionalProperties: false
    patternProperties:
      '^[^_^\d][\w]*$': {}

  data_tables:
    type: [object, "null"]
    description: >-
      Reference to files from which to load parts (or all) of the model definition.
      Loaded data will be _overridden_ by any data provided in the YAML definitions.
      Conflicting data between loaded files will be resolved by overriding in the order the data is provided.
      That is, data in list item `N` takes precedence over data in list item `N-1`.
    additionalProperties: false
    patternProperties: &nested_pattern
      '^[^_^\d][\w]*$':
        type: object
        patternProperties:
          '^[^_^\d][\w]*$': {}

  techs:
    type: [object, "null"]
    description: >-
      Calliope model technology definitions.
      See the model definition schema for more guidance on content.
    additionalProperties: false
    patternProperties: *nested_pattern

  nodes:
    type: [object, "null"]
    description: >-
      Calliope model node definitions.
      See the model definition schema for more guidance on content.
    additionalProperties: false
    patternProperties: *nested_pattern

  templates:
    type: [object, "null"]
    description: >-
      Abstract technology/node templates from which techs/nodes can `inherit`.
      See the model definition schema for more guidance on content.
    additionalProperties: false
    patternProperties: *nested_pattern

  overrides:
    type: [object, "null"]
    description: >-
      Overrides to apply to _any_ part of the model YAML configuration / definition.
    additionalProperties: false
    patternProperties: *nested_pattern

  scenarios:
    type: [object, "null"]
    description: Groups of overrides to define named scenarios.
    additionalProperties: false
    patternProperties:
      '^[^_^\d][\w]*$':
        OneOf:
          - type: array
            items:
              type: string
              pattern: '^[^_^\d][\w]*$'
          - type: string
            pattern: '^[^_^\d][\w]*$'
