name: Branch Push CI

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - README.md
      - changelog.rst
      - LICENSE
      - CITATION
      - AUTHORS
      - doc/**
      - docs/**
      - .readthedocs.yml
      - .pre-commit-config.yaml

defaults:
  run:
    shell: bash -l {0}

env:
  LANG: "en_GB"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Update locale
      run: sudo locale-gen en_GB en_GB.UTF-8

    - uses: actions/checkout@v3

    - uses: mamba-org/setup-micromamba@v1
      with:
        micromamba-version: latest
        environment-name: ${{ github.event.repository.name }}-ubuntu-latest-312-${{ hashFiles('requirements/dev.txt') }}
        environment-file: requirements/base.txt
        create-args: >-
          -f requirements/dev.txt
          python=3.11
          coin-or-cbc
        post-cleanup: all
        cache-environment: true

    - name: Install package
      run: pip install --no-dependencies -e .

    - name: Install jupyter kernel
      run: python -m ipykernel install --user --name calliope

    - name: run tests without coverage
      if: github.ref != 'refs/heads/main'
      run: pytest

    - name: run tests with coverage
      if: github.ref == 'refs/heads/main'
      run: pytest --cov

    - name: upload coverage report to Codecov
      if: github.ref == 'refs/heads/main'
      uses: codecov/codecov-action@v3
      env:
        directory: "./reports/coverage/"
